.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left bottom;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    background-color: rgba(255, 2555, 255, 0.1);
    backdrop-filter: blur(20px) saturate(180%);
    max-width: 500px;
    width: 100%;

    @media only screen and (max-width: 500px) {
      height: 100vh;
    }
  }

  hr {
    height: 1px;
  }
}
