<div class="box has-background-grey-lighter is-shadowless">
  <div class="columns is-vcentered is-mobile">
    <div class="column is-narrow is-hidden-mobile">
      <figure class="image is-64x64">
        <img class="is-rounded" [src]="'./assets/images/spaceflight-' + data.mission + '.jpg'">
      </figure>
    </div>
    <div class="column">
      <div class="title is-4">{{ data.mission | mission | async }}</div>
      <div class="subtitle is-6">{{ data.start | date }} to {{ data.end | date }}</div>
      <p>{{ data.humans }} Humans</p>
    </div>
    <div class="column is-narrow">
      <button class="button is-light" (click)="delete()">
        <span class="icon">
          <i class="fas fa-times"></i>
        </span>
      </button>
    </div>
  </div>
</div>
